# Better ls command
alias ls='exa --git --icons --color=always --group-directories-first'

# DNS cache flushing utility
alias flush-dns-cache="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Alias ll to a better variant
alias ll='ls -la'

# Convenience alias for lazygit
alias lg='lazygit'

# Useful parent cd aliases
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../../'
