# Better ls command
alias ls='eza --git --icons --color=always --group-directories-first'

# Alias ll to a better variant
alias ll='ls -la'

# Convenience for git & lazygit
alias g='git'
alias lg='lazygit'

# Neovim aliases
alias vim='nvim'
alias vi='nvim'

# Terraform alias
alias tf='terraform'

# Devbox alias
alias d='devbox'
alias d-up='devbox services up'

# Tmux stuff
alias qs='sesh connect $(sesh list | fzf)'
alias tn='tmux new-session -A -s "$(basename "$PWD")"'

# VSCode alias without using the UI to install it persistently
alias code='function _code(){ VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* ;};_code'

# Useful parent cd aliases
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../../'

# Convenience alias for Spring projects
alias spring-dev="./gradlew bootRun --args='--spring.profiles.active=dev'"

# Convenience alias for networking stuff
alias flush-dns-cache="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

alias serenax="uvx --from git+https://github.com/oraios/serena serena"
