# Better ls command
alias ls='eza --git --icons --color=always --group-directories-first'

# DNS cache flushing utility
alias flush-dns-cache="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Alias ll to a better variant
alias ll='ls -la'

# Convenience for lazygit
alias lg='lazygit'

# Neovim aliases
alias vim='nvim'
alias vi='nvim'

# Convenience for zellij
alias zj='zellij attach --create default'

# Terraform alias
alias tf='terraform'

# Useful parent cd aliases
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../../'

# Convenience alias for Spring projects
alias spring-dev="./gradlew bootRun --args='--spring.profiles.active=dev'"
