[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig

[core]

  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false

  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

  # Integrate delta
  # https://github.com/dandavison/delta
	pager = delta

[commit]

    # https://help.github.com/articles/signing-commits-using-gpg/
  gpgsign = true

[merge]

  conflictStyle = zdiff3

[help]

  # Automatically correct and execute mistyped commands
  autocorrect = 1

[push]

  # https://git-scm.com/docs/git-config#git-config-pushdefault
  default = simple
  # Make `git push` push relevant annotated tags when pushing branches out.
  followTags = true
  autoSetupRemote = true

[init]

  # Set template directory to .config
  templateDir = ~/.config/git/template/
  defaultBranch = main


[interactive]

  # Integrate delta
  # https://github.com/dandavison/delta
  diffFilter = delta --color-only

[alias]

  # View abbreviated SHA, description, and history graph of the latest commits
  l = git log --all --decorate --oneline --graph

  # View the current working tree status using the short format
  s = status -s

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  # Easier undo
  undo = reset --soft HEAD^

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # Convenient commit ammending
  amend = commit --amend --no-edit

  # Cleanup local branches which don't exist on the remote
  cleanbr = remote prune origin

  # Show the user email for the current repository.
  whoami = config user.email

  # Pull rebase convenience alias
  pullre = pull --rebase

[gpg]

  # Use SSH for signing commits
  format = ssh

[gpg "ssh"]

  # Use 1Password to sign commits
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[user]

  # Use signing key from 1Password
  signingkey = "!!! THIS SHOULD BE REPLACED WHEN SETTING UP A NEW MACHINE! !!!"

  # Use GitHub's anonymous E-Mail for commiting
  email = janbiasi@users.noreply.github.com
  name = Jan Biasi

[delta]
  features = catppuccin-mocha
  true-color = always
  navigate = true
  hyperlinks = true
  dark = true
  side-by-side = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"